<h1>Listado Productos</h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button [routerLink]="['/producto/nuevo']" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button></div>
</div>
<table *ngIf="!cargando && productos.length > 0" class="table mt-3 animated fadeIn slow">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ producto.nombre }}</td>
      <td>$ {{ producto.precio }}</td>
      <td>
        <span *ngIf="producto.disponible" class="badge badge-pill badge-success">Disponible</span>
        <span *ngIf="!producto.disponible" class="badge badge-pill badge-danger">Agotado</span>
      </td>
      <td>
        <button [routerLink]="['/producto/', producto.id]" class="btn btn-info mr-1"><i class="fas fa-pen"></i></button>
        <button (click)="eliminar(producto, i)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando...</h4>
  <p class="text-center">
    <i class="fas fa-spin fa-circle-notch fa-3x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
<div *ngIf="!cargando && productos.length === 0" class="alert alert-danger text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">No hay Registros</h4>
  <p class="text-center">
    <i class="fas fa-exclamation fa-3x"></i>
  </p>
</div>
